#
# ESP32-H2 specific defaults
#

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

#
# Flash Size (4MB on ESP32-H2-DevKitM-1)
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# Zigbee role: Router (H2 is dedicated 802.15.4, no coexistence issues)
#
CONFIG_LD2450_ZB_ROUTER=y
